rupture.scale = 0 400px 600px 800px 1050px 1800px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'

div.container
  lost-center 60%
  background-color #DFDFDF
  height 200px
  lost-utility clearfix

div.col
  background-color white
  lost-column 1/2
  height 150px
  +below(m)
    lost-column 1
